:host {
  width: 100%;
  .mat-form-field {
    width: 70px;

    &.no-space .mat-form-field-wrapper {
      margin: 0;
      padding-bottom: 0;

      & .mat-form-field-underline {
        bottom: 0;
      }
    }
  }
}

.operator {
  min-width: 70px;
}
