<form *ngIf="form"
      [formGroup]="form">

  <div fxLayout="row"
       fxLayoutGap="16px"
       fxLayoutAlign="space-between start">

    <mat-form-field fxFlex="10"
                    appearance="outline">
      <mat-label>Operator</mat-label>

      <mat-select formControlName="type">
        <mat-option *ngFor="let operator of operators;"
                    [value]="operator">
          {{ operator }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxFlex="90">
      <ng-container *ngFor="let item of branchesFormArray.controls; let i = index;"
                    formArrayName="branches">

        <ng-container *ngIf="item.value.type === 'NUMBER';else defaultContainer">
          <app-formula-item [formControlName]="i"
                            (delete)="onDeleteGroup(i)">
          </app-formula-item>
        </ng-container>
        <ng-template #defaultContainer>
          <app-formula-container [formControlName]="i">
          </app-formula-container>
        </ng-template>

      </ng-container>
    </div>
  </div>
</form>
