<button mat-mini-fab
        color="primary"
        [disabled]="disabled"
        [matMenuTriggerFor]="addMenu">
  <mat-icon>calculate</mat-icon>
</button>

<mat-menu #addMenu="matMenu">
  <button mat-menu-item
          (click)="addItem('NUMBER')">
    <mat-icon>123</mat-icon>
    <span>Number</span>
  </button>
  <button mat-menu-item
          (click)="addItem('PAREN')">
    <mat-icon>data_object</mat-icon>
    <span>Parentheses</span>
  </button>
  <button mat-menu-item
          (click)="addItem('SQRT')">
    <mat-icon>Function</mat-icon>
    <span>SQRT</span>
  </button>
  <button mat-menu-item
          [matMenuTriggerFor]="menuOperators">
    <mat-icon>calculate</mat-icon>
    <span>Operator</span>
  </button>
</mat-menu>
<mat-menu #menuOperators="matMenu">
  <button mat-menu-item
          (click)="addItem('ADDITION')">
    <span>Addition</span>
  </button>
  <button mat-menu-item
          (click)="addItem('SUBTRACTION')">
    <span>Subtraction</span>
  </button>
  <button mat-menu-item
          (click)="addItem('DIVISION')">
    <span>Division</span>
  </button>
  <button mat-menu-item
          (click)="addItem('MULTIPLICATION')">
    <span>Multiplication</span>
  </button>
</mat-menu>
